body {
    /* background: linear-gradient(-90deg, #ee7752, #00008B); */
    /* background: url(https://sportshub.cbsistatic.com/i/r/2020/05/12/aa3d9c1b-5ecc-4d16-94de-534bd802f6c4/thumbnail/1200x675/662f1450fbba89c876f4dd0e989e6858/bestnbaplayercover.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */

    background: linear-gradient(
        rgba(94, 19, 158,.55),
        rgba(94, 19, 158,.55)
      ),
      /* bottom, image */
      url(https://sportshub.cbsistatic.com/i/r/2020/05/12/aa3d9c1b-5ecc-4d16-94de-534bd802f6c4/thumbnail/1200x675/662f1450fbba89c876f4dd0e989e6858/bestnbaplayercover.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Barlow Condensed', sans-serif;

}

.main_div{
  margin: 5%;
}

.welcome{
  font-size: 4vh;
  margin-bottom: 5%;
}

.nav{
  text-align: center;
  height: 10vh;
  font-size: 3vh;
}

.debate_status{
  text-align: center;
  margin: auto;
  width:90%;
  font-size: 3vh;
}

.debate_status label{
  margin-bottom: 5%;
  color: white;
  font-size: 3vh;
  text-shadow: 4px 4px black;
}

.status_bar{
  font-size: 2vh;
  /* height: 2vh; */
  width: 40%;
  border-radius: 40px;
  padding:.5%;
}

.status_submit{
  width:10% !important;
  background-color: rgba(94, 19, 158);
  color: white;
  padding: .2%;
}

.users_activities{
  margin-top: 10%;
}

.recent_status{
  width: 80%;
}

.recent_status div{
  background-color: black;
  color: white;
  padding: 1%;
}

.status_card{
  border: 2px solid white;
  margin-bottom: 5%;
}

.debate_card{
  padding:3%;

}

.opinion a div{
  display: inline-block;
  text-align: center;
  color: rgba(94, 19, 158);
  background-color: white;
  border: 3px solid rgba(94, 19, 158);
  width: 30%;
}

.opinion a div:hover{
  color: white;
  background-color: black;
}

.approval_count div{
  display: inline-block;
  text-align: center;
}

.users_activities{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 80%;
  margin: 10% auto;
  text-align: center;
}

.user_debates form{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: rgba(94, 19, 158,.80);
  margin-bottom: 5%;
  border: 3px solid black;
}

.player_vote{
  width:40% !important;
}

table{
  margin: 0% auto;
  max-width: 80%;
}

.alphabet{
  text-align: center;
  margin: auto;
  width: 90%;
}

.alphabet div{
  display: inline-block;
  text-align: center;
  margin-left: 1%;
}

.alphabet div a{
  font-size: 5vh;
  text-decoration: none;
  color: white;
  text-shadow: 3px 2px #ff0000;
}

.alphabet div a:hover{
  color: red;
  text-shadow: 3px 2px black;
}

.p_index{
  text-decoration: none;
  color: white;
}


.nav li{
  background-image: linear-gradient(blue,rgb(52, 19, 158),0.3);
  font-weight: 100;
  color: white;
  display: inline-block;
  width: 15%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 1px 4px -2px #333;
}

.nav li:hover{
  /* background-image: linear-gradient(blue, rgb(22, 124, 181)); */
  background-image: linear-gradient(-100deg,rgb(52, 19, 158),rgba(94, 19, 158,.75),rgb(236, 26, 13,.55));
  text-shadow: 2px 2px black;
}

.nav li a{
  color: white;
  text-decoration: none;
  text-shadow: 0px -1px #333;
}

h1{
  color:white;
}

h3{
  color: white;
}

h2{
  color: white;
}

.title_header{
  text-align: center;
  font-size: 8vh;
  text-shadow: 5px 5px black;
}

.pcell{
  border: 1px solid red;
  padding: 5%;
  background: rgb(27, 18, 129, 0.9)
}

.pcell tr{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

tbody {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: auto;
  text-align: center;
  }

.boxscore{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid blue;
}

.dailygames{
  text-align: center;
  width: 100vh;
  border: 1px solid blue;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin:auto;
  font-size: 2vh;
  color: white;
}

.loserScore{
  color: red;
}

.winnerScore{
  color: green;
}

.player_comparisons{
  margin: 10%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: red;
}

.players{
  background-color: rgba(94, 19, 129, 0.75);
  padding: 5%;
}


.player_pic img{
  border:4px solid black;
  width: 100%;
  border-radius: 20%;
}

.stats_header{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10%;
}

.stats_header h1{
  background: linear-gradient(-100deg, #ee7752,#00008B);
  border: 2px solid black;
  font-family: fantasy;
  color: black;
}

.stats_header h1:hover{
  background: linear-gradient(-100deg, #ee7752, rgb(163, 1, 196));
}

.comp_form{
  border: 3px solid purple;
  height: auto;
  margin:0% 20%;
  background: rgba(94, 19, 129, 0.9);
  color: white;
  font-size: 2vh;
}

.comp_form input{
  background-color: red;
  color: white;
  margin: 5%;
}


.player_form{
  border: 3px solid purple;
  font-size: 2vh;
  height: auto;
  margin:auto;
  background: rgb(94, 19, 129);
  color:white;
}

.player_form input{
  background: white !important;
}

ul{
  list-style: none;
}

.p_attr li{
  font-size: 3vh;
  font-family: monospace;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5%;
}


.highlight_stat{
  border: 1px solid white;
  color: white;
  margin:auto;
}

.dropdown-content{
  display: none;
  position: absolute;
}

.dd-hover:hover .test{
  display: none;
}
.dd-hover:hover .dropdown-content{
  display: inline-block;
  background-color: #B22222;
  color: white;
  font-size: 2vh;
}

.player_form input{
  width: 20vh;
  margin: auto;
  border-radius: 7%;
  background-color: red;
  opacity: 0.5;
  color: black;
}

.submit{
  width: 5vh;
  margin-bottom: 10%;
  color: black;
  background: red !important;
}

/* form{
  padding: 10%;
} */


.accolades ul{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.accolades ul li{
  border: 3px solid white;
  width: 100%;
  background-color: #B22222;
  color: white;
  font-style: italic;
  margin:auto;
  margin-bottom: 5%;
  font-size: 2vh;
  box-shadow: 0px 1px 4px -2px #333;
}

.hidden{
  display: none;
}
.active{
  color: white !important;
  background: linear-gradient(-100deg, #ee7752, rgb(163, 1, 196)) !important;
  border-color: white !important;
}

.name a{
  text-decoration: none;
  color: white;
  text-shadow: 5px 5px black;
  font-size: 4vh;
}

.register input{
  width: 300px;
}

.register_text{
  color: red;
}

.profile{
  margin: 5%;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 10%;
}

.user_profile{
  text-align: center;
  margin-bottom: 5%;
}

.profile_pic{
  height: 100%;
  width: 60%;
  margin: 5% auto;
}

.profile_pic img{
  height: 100%;
  width: 100%;
  border: 5px solid black;
}

.follow_count{
  background: linear-gradient(-100deg, rgba(99, 14, 125, 0.88), rgb(27, 18, 129));
  border: 3px solid rgb(27, 18, 129);
}

.follow_count div{
  display: inline-block;
  margin: 1% 2%;
}

.other_users{
  text-align: center;
  background: linear-gradient(-100deg, rgb(27, 18, 129), rgba(99, 14, 125, 0.30));
  border: 2px solid white;
  border-radius: 10px;
  padding: 5%;
}

.follow_form input{
  padding: 0% !important;
}

.follow_btn{
  color: white;
  background-color: blue;
  padding: 1%;
  border-radius: 3px;
  font-style: italic;
  font-size: 1.5vh;
  text-decoration: none;
  border: 2px solid black;
}

.unfollow{
  background-color: rgb(209, 96, 242);

}

.debate_table{
}

.debate_chart{
  background: linear-gradient(-100deg, rgb(27, 18, 129), rgba(99, 14, 125, 0.88));
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2%;
  padding: 2%;
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;
}

.debate_chart div img{
  border: 4px solid rgb(27, 18, 129);
  border-radius: 3px;
  height: 60%;
  width: 60%;
}


.debateform{
  margin: auto;
  margin-bottom: 10%;
  border: 5px solid white;
  background-color: rgb(189, 12, 33);
  width:20%;
  height:5%;
  text-align: center;
  font-size: 30px;
}


.comp_stat a{
  background-color: rgb(38, 90, 190);
  color: white;
  text-decoration: none;
  padding: 2%;
  font-family: sans-serif;
  border: 2px solid rgb(134, 201, 233);
  border-radius: 5px;
}

.comp_stat{
  text-align: center;
}

.delete{
  background-color: red;
  color: white;
  padding: 1%;
  border-radius: 5px;
  width: 30%;
  height:100%;
}

.years_stats{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0%;
  width: 90%;
  margin: 5% auto;
  text-align: center;
}

.show{
  display:block;
}

.dropdown-years{
  z-index: 1;
  position: relative;
  text-align: center;
  overflow: scroll;
  height: 20%;
}

.dropdown-years li{
  color: white;
  background-color: blue;
  width: 20%;
  margin: 0 auto;
}

.dropdown-years li:hover{
  background-color: black;
}
