{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main_div">
      <ul class = "nav">
        <li><a href="/">Home</a></li>
        <li><a href="/index/a">Index</a></li>
        <li><a href="/boxscore">Box Score</a></li>
        <li><a href="/comparison">Comparison</a></li>
        {% if user.is_authenticated %}
        <li><a href="/accounts/logout">Log Out</a></li>
        <li><a href="/accounts/profile">Profile</a></li>
        {% else %}
        <li><a href="/accounts/login">Log In</a></li>
        <li><a href="/accounts/register">Register</a></li>
        {% endif %}
      </ul>
      {% if user.is_authenticated%}
      <h1 class="welcome">Welcome, {{user.first_name}}</h1>
      {% endif %}
      {% block content %}

      {% endblock %}
    </div>
  </body>
  <script src="{% static 'myapp/main.js' %}?version=1"></script>
</html>
