{% extends 'base.html' %}
{% block content %}

<h1 class="title_header">Player VS Player</h1>



<div class="player_comparisons">
  <div class="player_pic">
    <img src="https://www.basketball-reference.com/req/201912101/images/players/{{player.player_id}}.jpg">
    <h2>{{player.id}}</h2>
    <h1 class="name"><a href="/players/{{player.id}}">{{player.name}}</a></h1>
    <h3>{{player.height}}</h3>
  </div>
  <div>    
    <form class = "player_form" action="/comparison" method="post">
        {% csrf_token %}
        {{form}}
        <br>
        <input class="submit" type="submit" value="Submit">
    </form>
  </div>
  <div class="player_pic">
    <img src="https://www.basketball-reference.com/req/201912101/images/players/{{playertwo.player_id}}.jpg">
    <h2>{{playertwo.id}}</h2>
    <h1 class="name"><a href="/players/{{playertwo.id}}">{{playertwo.name}}</a></h1>
    <h3>{{playertwo.height}}</h3>
  </div>
  <div class = 'players'>
    <div class="stats_header">
      <h1 class="career active" onclick="Switch(this,0)">Career</h1>
      <h1 class="season" onclick="Switch(this, 0)">Current</h1>
    </div>
    <ul class ="p_attr careerStats">
      {% for key, stat in p1_careerstats.items%}
        {% if key == "Nicknames"%}
        <li class="dd-hover"><div>{{key}}:</div><div class="test">???</div><div class="dropdown-content">{{stat}}</div></li>
        {% else %}
          <li><div>{{key}}:</div><div class="highlight_stat">{{stat}}</div></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="p_attr currentStats hidden">
      {% for key, stat in p1_current.items%}
        <li><div>{{key}}:</div><div class="highlight_stat">{{stat}}</div></li>
      {% endfor %}
    </ul>
  </div>
  <div class="empty">

  </div>
  <div class="players">
    <div class="stats_header">
      <h1 class="career active" onclick="Switch(this,1)">Career</h1>
      <h1 class="season" onclick="Switch(this,1)">Current</h1>
    </div>
    <ul class="p_attr careerStats">
      {% for key, stat in p2_careerstats.items%}
        {% if key == "Nicknames"%}
          <li class="dd-hover"><div>{{key}}:</div><div class="test">???</div><div class="dropdown-content">{{stat}}</div></li>
        {% else %}
          <li><div>{{key}}:</div><div class="highlight_stat">{{stat}}</div></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class="p_attr currentStats hidden">
      {% for key, stat in p2_current.items%}
        <li><div>{{key}}:</div><div class="highlight_stat">{{stat}}</div></li>
      {% endfor %}
    </ul>
  </div>
  <div class="accolades">
    <h2>Accolades</h2>
    <ul>
      {% for stat in p1_accolades%}
        <li><div>{{stat}}:</div></li>
      {% endfor %}
    </ul>
  </div>
  <div class="empty">

  </div>
  <div class="accolades">
    <h2>Accolades</h2>
    <ul>
      {% for stat in p2_accolades%}
        <li><div>{{stat}}:</div></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="years_stats">
  <div class="p1_years">
    <button onclick="yearlyStats(this,0)" class="dropbtn">Stats By Year</button>
    <ul class="dropdown-years hidden">
      {%for year in years%}
      <a onclick= 'advanceStats("{{player.name}}",{{year}}, 0)'><li>{{year}}</li></a>
      <!-- <a href="/advanceStats/{{player.name}}&season={{year}}"><li>{{year}}</li></a> -->
      {% endfor %}
    </ul>
    <ol class="p-advance">
      <li class="p1-pts"></li>
      <li class="p1-reb"></li>
      <li class="p1-ast"></li>
      <li class="p1-stl"></li>
    </ol>
  </div>

  <div class="p2_years">
    <button onclick="yearlyStats(this,1)" class="dropbtn">Stats By Year</button>
    <ul class="dropdown-years hidden">
      {%for year in years%}
      <a onclick= 'advanceStats("{{playertwo.name}}",{{year}}, 1)'><li>{{year}}</li></a>
      <!-- <a href="/advanceStats/{{player.name}}&season={{year}}"><li>{{year}}</li></a> -->
      {% endfor %}
    </ul>
    <ol class="p-advance">
      <li class="p1-pts"></li>
      <li class="p1-reb"></li>
      <li class="p1-ast"></li>
      <li class="p1-stl"></li>
    </ol>
  </div>
</div>



<form class="debateform" action="/createDebate" method="post">
  {% csrf_token %}
  <input type="hidden" name="p1_id" value="{{player.id}}">
  <input type="hidden" name="p2_id" value="{{playertwo.id}}">
  <input type="hidden" name="user" value="{{user.id}}">
  <input type="hidden" name="p1_user_id" value="{{player.player_id}}">
  <input type="hidden" name="p2_user_id" value="{{playertwo.player_id}}">
  <label for="">{{player.name}}</label>
  <input type="hidden" name="p1_name" value="{{player.name}}">
  <input type="radio" name="user_pick" value="1">
  <br>
  <label for="">{{playertwo.name}}</label>
  <input type="hidden" name="p2_name" value="{{playertwo.name}}">
  <input type="radio" name="user_pick" value="2">
  <br>
  <br>
  <input type="submit" name="vote" value="Vote">

</form>




{% endblock %}
