{% extends 'base.html' %}
{% block content %}

<div class="alphabet">
  {%for i in alphabet%}
  <div class="letter_index">
    <a class="alphabet" id="{{i}}" href="/index/{{i}}">{{i}}</a>
  </div>
  {% endfor %}
</div>


<table>
  <tbody>
    {% for player in players %}
      <tr class = 'pcell' href="">
          <td id= {{player.player_id}}>
            <div class="p_name">
              <h2><a class="p_index" href="{% url 'player' player.id %}">{{player.name}}</a></h2>
            </div>
            <div class="p_img">
              <img src="https://www.basketball-reference.com/req/201912101/images/players/{{player.player_id}}.jpg" alt="">
            </div>
            <div class="p_stats">
              <h3>{{player.id}}</h3>
              <h3>{{player.height}}</h3>
              <h3>{{player.college}}</h3>
              <h3>{{player.position}}</h3>
              <h4>{{player.birthdate}}</h4>
            </div>
          </td>
      </tr>

    {% endfor %}
  </tbody>
</table>



{% endblock %}
