{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="profile">
  <div class="user_profile">
    <h1>User Profile</h1>
    <h2>{{user.username}}</h2>
    <img class="profile_pic" src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.pngitem.com%2Fpimgs%2Fm%2F146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png&imgrefurl=https%3A%2F%2Fwww.pngitem.com%2Fmiddle%2FmJiimi_my-profile-icon-blank-profile-picture-circle-hd%2F&tbnid=oXlyOuq8MWMJnM&vet=12ahUKEwjzp_PWqOLpAhWVWN8KHUwYB98QMygKegUIARCrAg..i&docid=ZerAWmokvNhyTM&w=860&h=681&q=profile%20picture&ved=2ahUKEwjzp_PWqOLpAhWVWN8KHUwYB98QMygKegUIARCrAg" alt="">
    <div class="">
      {% for u in users%}
      <h1>{{u.username}}</h1>
      <button type="button" name="button" class="follow_btn"><a>FOLLOW</a></button>
      {% endfor %}
    </div>
  </div>

  <div class="debate_table">
    {% for debate in debates %}
    <div class="debate_chart">
      <div class="debate_p1">
        <h1 class="db1">{{debate.p1_name}}</h1>
        <img src="https://d2cwpp38twqe55.cloudfront.net/req/201912101/images/players/{{debate.p1_user_id}}.jpg">
        <h3>Votes: {{debate.p1_vote}}</h3>
      </div>
      <div class="debate_p2">
        <h1>{{debate.p2_name}}</h1>
        <img src="https://d2cwpp38twqe55.cloudfront.net/req/201912101/images/players/{{debate.p2_user_id}}.jpg">
        <h3>Votes: {{debate.p2_vote}}</h3>
      </div>
      <div class="comp_stat"><a href="/comparisons/{{debate.p1_name}}&{{debate.p2_name}}" name="button">See Comparison</a></div>
      <div class="delete_form">
        <form class="" action="/deleteDebate" method="post">
          {% csrf_token %}
          <input type="hidden" name="debate_id" value="{{debate.id}}">
          <input class="delete" type="submit" name="submit" value="Delete">
        </form>
      </div>
    </div>
    {%endfor%}

  </div>
</div>

{% endblock %}
